html {
    margin:0;
    width:100vw;
    height: 100vh;
    overflow:hidden;
    font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
    background: rgba(0,0,0,0);
}

body {
    width:100vw;
    height: 100vh;
    padding: 5px;
    margin:0;
}

body.maximized {
    padding:0;
}

body.maximized #video-container {
    border-radius:0;
    height:100%;
}

body:hover .header-bar {
    opacity:1;
}

.header-bar {
    position:absolute;
    display:flex;
    top:5px;
    left:5px;
    width:calc(100% - 10px);
    display: -ms-flex;
    height: 30px;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    z-index:999;
    opacity:0;
    transition:opacity 0.5s ease;
}

.header-bar .title-bar {
    flex: 4 4 calc(100% - 10px);
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.header-bar .close-btn, .header-bar .large-btn, .header-bar .minimize-btn {
    width:11px;
    height:11px;
    margin:10px 0px 5px 0px;
    color: rgba(184, 57, 57, 0);
    border-radius:50%;
    padding:0;
    border:0;
    cursor: pointer;
}
.header-bar .close-btn {
    background:rgba(255, 0, 0, 0.322);
    margin-left:10px;
} 
.header-bar .minimize-btn {
    background:rgba(255, 208, 0, 0.322);
} 
.header-bar .close-btn:hover {
    background:rgba(255, 0, 0, 0.7);
} 
.header-bar .minimize-btn:hover {
    background:rgba(255, 208, 0, 0.7);
} 


.always-on-toggle {
    display: flex;
    margin: 5px 30px 5px 0px;
}

.always-on-toggle small {
    display: block;
    width: 70px;
    font-variant: all-small-caps;
}

.always-on-toggle input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.always-on-toggle label {
	cursor: pointer;
	text-indent: -9999px;
	width: 28px;
	height: 14px;
	background: grey;
	display: block;
	border-radius: 14px;
    position: relative;
    margin-top:3px;
}

.always-on-toggle label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 10px;
	transition: 0.3s;
}

.always-on-toggle input:checked + label {
	background: #bada55;
}

.always-on-toggle input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.always-on-toggle label:active:after {
	width: 15px;
}

#video-container {
    display: -ms-flexbox;
    display: flex;
    overflow:hidden;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top:5px;
    width:calc(100% - 10px);
    height:calc(100% - 10px);
    background: rgba(0,0,0,0);
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    border-radius:3px;
}

#video-container .video-js {
    -ms-flex: 1 100%;
    flex: 1 100%;
    height:100%;
}
/* custom button */
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'themify';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

:focus {
    outline:0;
}

button {
    -webkit-app-region: no-drag;
}